{% extends 'layout/base.html' %}

{% block content %}
  {% if rooms %}
    <div class="row cate">
        {% for r in rooms %}
        <div class="col-md-3 col-sm-12" style="padding:1rem;">
            <div class="card" style="box-shadow: 3px 4px lightgray; border: 1px solid gray;">
                <img class="card-img-top" src="{{ r.image }}" alt="image">
                <div class="card-body">
                    <h4 class="card-title">{{ r.name }}</h4>
                    <p class="card-text">{{ "{:,.1f}".format(r.price) }} VNĐ</p>
                    <a href="/rooms/{{ r.id }}" class="btn btn-primary">Xem chi tiết</a>
                    <a href="javascript:;" class="btn btn-danger">Đặt phòng</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    {% else %}
    <p class="text-danger">Không có sản phẩm nào!</p>
    {% endif %}

{% endblock %}